%h1 Dossier up in here

- if session[:fb_login]
  = "Welcome #{current_user.first_name} #{current_user.last_name}!"
  .fb-sign-out
    %a{href:'/signout'} Sign out of facebook
- else
  .fb-sign-in
    %a{href:'#'} Sign in with Facebook

- if @events
  %form{:action => "/select"}
  %select{:name => "events"}
    %option{:option => "choose an event", :label => "Choose an event"}
    - @events.each do |event|
      %option{:option => event["name"], :value => event["name"], :label => event["name"], :id => event["id"]}