*
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  font-family: helvetica, sans-serif
  letter-spacing: 1px
a
  color: #fff
  text-decoration: none
  &:hover
    color: #fff
    text-decoration: underline
  &:active
    color: #fff
    text-decoration: underline
  &:visited
    color: #fff
    text-decoration: none

.header
  height: 60px
  width: -moz-calc(100% - 6px)
  width: -webkit-calc(100% - 6px)
  width: calc(100% - 6px)
  text-align: center
  color: #fff
  background: #4e68c7
  font-size: 25px
  -moz-box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891
  -webkit-box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891
  box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891
  h1
    padding: 5px 0 0 0
    font-family: helvetica, sans-serif
    font-size: 50px
    text-shadow: -1px 0 rgba(32, 56, 145, 0.29), 0 1px rgba(32, 56, 145, 0.29), 1px 0 rgba(32, 56, 145, 0.29), 0 -1px rgba(32, 56, 145, 0.29)
  @media screen and (max-width: 700px)
    height: 200px
    padding: 10px 0 25px


.header-inner
  width: 700px
  margin: 0 auto
  @media screen and (max-width: 700px)
    width: 100%

.header-partition
  vertical-align: middle
  display: inline
  float: left
  width: 200px
  margin: 0 15px
  @media screen and (max-width: 1200px)
    text-align: right
    width: 150px
  @media screen and (max-width: 700px)
    text-align: center
    float: none
    display: block
    width: 225px
    margin: 0 50px

.IN-widget
  opacity: 0


.fb-sign-in, .fb-sign-out
  cursor: pointer
  font-family: helvetica, sans-serif
  text-shadow: -1px 0 rgba(32, 56, 145, 0.29), 0 1px rgba(32, 56, 145, 0.29), 1px 0 rgba(32, 56, 145, 0.29), 0 -1px rgba(32, 56, 145, 0.29)
  height: 60px
  padding: 10px 0 0 0
  border-top: 10px solid #4e68c7
  background: url('facebook-logo-small2.png') no-repeat
  @media screen and (max-width: 700px)
    height: 50px
    margin: 25px 0 0 0

.linked-sign-in, .linked-sign-out
  cursor: pointer
  font-family: helvetica, sans-serif
  text-shadow: -1px 0 rgba(32, 56, 145, 0.29), 0 1px rgba(32, 56, 145, 0.29), 1px 0 rgba(32, 56, 145, 0.29), 0 -1px rgba(32, 56, 145, 0.29)
  height: 60px
  padding: 10px 0 0 0
  border-top: 10px solid #4e68c7
  background: url('linkedin-logo-small.png') no-repeat
  @media screen and (max-width: 700px)
    height: 50px

.container
  max-width: 1000px
  text-align: center
  margin: 0 auto

.sub-header
  margin: 20px auto

.events-selector, .events-invited-selector
  width: 420px
  height: 50px
  background: #4e68c7
  color: #fff
  font-size: 25px
  padding: 0 0 0 20px
  border: 0
  border-radius: 0
  -moz-box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891
  -webkit-box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891
  box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891
  @media screen and (max-width: 700px)
    width: -moz-calc(100% - 6px)
    width: -webkit-calc(100% - 6px)
    width: calc(100% - 6px)
    font-size: 20px
    margin: -10px 0 0 0

.events-selector
  @media screen and (max-width: 700px)
    padding: 0 0 0 45px
    position: relative
    left: -3px

.events-invited-selector
  position: relative
  left: -3px
  @media screen and (max-width: 700px)
    margin: 0

.change-rsvp-selector, .set-rsvp-selector
  width: 105px
  height: 50px
  color: #fff
  background: #4e68c7
  border: 0
  border-radius: 0
  font-size: 25px
  padding: 0 0 0 17px
  -moz-box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891
  -webkit-box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891
  box-shadow: 1px 0px 1px #203891,0px 1px 1px #3852b1,2px 1px 1px #203891,1px 2px 1px #3852b1,3px 2px 1px #203891,2px 3px 1px #3852b1,4px 3px 1px #203891,3px 4px 1px #3852b1,5px 4px 1px #203891,4px 5px 1px #3852b1,6px 5px 1px #203891
  @media screen and (max-width: 700px)
    position: relative
    top: 6px

.change-rsvp-selector
  position: relative
  left: 3px

img.attendee
  height: 300px
  width: 300px

img
  z-index: 1

.image-wrapper
  position: relative
  padding: 0
  margin: 5px
  width: 300px
  height: 300px
  display: inline-block


.image-text
  position: absolute
  top: 0
  padding: 15px 0 0 0
  color: #000
  font-family: helvetica, sans-serif
  background-color: rgba(255,255,255,0.8)
  width: 300px
  height: 300px
  text-align: center
  z-index: 10
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease
  h1
    font-size: 40px
  h2
    font-size: 20px

.hidden
  opacity: 0
  display: none

.invisible
  opacity: 0
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  transition: all 0.5s ease
