{{#if loggedIn}}
  <div class="intro-text">
    <h2>Select what you want to be briefed on</h2>
    <br>
    <p>Make a selection above to see who is going to an event or simply browse everyone in your circles</p>
    <br>
    <p>Feel free to change your RSVP status with click of a button</p>
  </div>
{{else}}
  <div class="intro-text">
    <h2>Be good with faces <em>and</em> names</h2>
    <br>
    <p>Whose name do you actually know?</p>
    <br>
    <hr>
    <br>
    <h2>Make a quick decision about a party</h2>
    <br>
    <p>Just seeing the faces of other invitees may help inform your decision about whether you want to attend a particular event.</p>
    <br>
    <hr>
    <br>
    <h2>Be informed</h2>
    <br>
    <p>Play a game to memorize the other guests names and/or job titles.</p>
    <br>
    <hr>
    <br>
    <h2>Social integration</h2>
    <br>
    <p>Login with Facebook and LinkedIn to browse events, colleagues, friends, and maybe potential employers.</p>
  </div>
{{/if}}
