<div class="header">
  <div class="header-inner">
    {{#link-to 'index' class="logo"}}
      <h1>Dossier</h1>
    {{/link-to}}
    <div class="header-partition">
      {{#if loggedInFacebook}}
        <div class="fb-sign-out">Log Out</div>
      {{else}}
        <div class="fb-sign-in">Log In</div>
      {{/if}}
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
