%html
  %head
    %title Dossier
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}
    %meta{content:"width=device-width", name:"viewport"}
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    = csrf_meta_tags

  %body
    = yield

- # hic sunt dracones
- # linkedin is quite fickle
    :javascript

      $(function() {

        $('body').on('change', '.in-select', function(e) {
          e.preventDefault();
          getInConnections();
        });

        $('body').on('click', '.linked-sign-in', function(e) {
          e.preventDefault();
          $(this).find("span").last().click();
        });

        $('body').on('click', 'span', function(e) {
          e.stopPropagation();
        });

        $('body').on('click', '.linked-sign-out', function(e) {
          e.preventDefault();
          IN.User.logout();
          $('.event-container').fadeOut(1000, function(e) {
            $('.event-container').html('');
          });
        });

         window.IN.Event.on(IN, "auth", function(event) {
          $('.event-container').html('');
          $('.linked-sign-in').addClass('hidden');
          $('.linked-sign-out').removeClass('hidden');
         });

        window.IN.Event.on(IN, "logout", function(event) {
          $('.event-container').html('')
          $('.linked-sign-in').removeClass('hidden');
          $('.linked-sign-out').addClass('hidden');
        });

      });



    %script{src:"http://platform.linkedin.com/in.js"}
      api_key: 77m7x30ie4sdmo
      authorize: true
      credentials_cookie: true
      scope: r_fullprofile r_emailaddress r_network rw_groups
